target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

.idea/
.classpath
.idea/.name
.idea/dataSources.local.xml
.idea/dataSources/
.idea/misc.xml
.idea/workspace.xml
.project
.settings/
MiNaZg-PMS.iml
spm-minazg.iml

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar